<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your comment <%= @comment.text %> is denied by <%= @user.name %> <%= @user.last_name %>
    </p>
  </body>
</html>